Repository ft-transcendence/transcendence, pull requests merged in 2022-09, with the labels that each got.

#62 Mvaldes/feature/popups
  back/src/user/user.controller.ts
  back/src/user/user.service.ts
  front/src/App.tsx
  front/src/ContextMenus/COnUser.tsx
  front/src/globals/Interfaces.tsx
  front/src/hooks/AuthHooks.tsx
  front/src/modals/MActivateTwoFA.tsx
  front/src/modals/MUploadAvatar.tsx
  front/src/queries/authQueries.tsx
  front/src/queries/avatarQueries.tsx
  front/src/queries/otherUserQueries.tsx
  front/src/queries/twoFAQueries.tsx
  front/src/queries/userFriendsQueries.tsx
  front/src/queries/userQueries.tsx
  front/src/routes/Auth/Auth.tsx
  front/src/routes/SoloGame.tsx
  front/src/routes/TwoFAValidation.tsx
  front/src/routes/profile_types/private/ModifyUserInfo.tsx
  front/src/routes/profile_types/private/TwoFA.tsx
  front/src/routes/profile_types/private/UserPrivateProfile.tsx
  front/src/routes/profile_types/private/users_relations/BlockedList.tsx
  front/src/routes/profile_types/private/users_relations/DisplayRowUsers.tsx
  front/src/routes/profile_types/private/users_relations/FriendsList.tsx
  front/src/routes/profile_types/private/users_relations/PendingList.tsx
  front/src/routes/profile_types/public/DisplayGamesStats.tsx
  front/src/routes/profile_types/public/DisplayUserFriends.tsx
  front/src/routes/profile_types/public/UserPublicProfile.tsx
Labels: feature, front

#65 ➕ redirect to app if logged in in another tab
  front/src/hooks/AuthHooks.tsx
  front/src/index.tsx
Labels: feature, front

#63 Satch/auth/field validation
  back/.env.dev
  back/src/auth/auth.controller.ts
  back/src/auth/auth.service.ts
  back/src/auth/dto/auth.dto.ts
Labels: feature, back

#69 Mvaldes/feature/watch game
  front/src/routes/Auth/Auth.tsx
  front/src/routes/profile_types/private/UserPrivateProfile.tsx
  front/src/routes/profile_types/private/users_relations/DisplayRowUsers.tsx
  front/src/routes/profile_types/public/DisplayGamesStats.tsx
  front/src/routes/profile_types/public/DisplayUserFriends.tsx
  front/src/routes/profile_types/public/UserPublicProfile.tsx
Labels: feature, front

#71 Satch/validation/updateusers
  back/prisma/schema.prisma
  back/src/auth/auth.service.ts
  back/src/auth/dto/auth.dto.ts
  back/src/auth/interfaces/42.interface.ts
  back/src/auth/strategy/42.strategy.ts
  back/src/user/dto/index.ts
  back/src/user/dto/update.dto.ts
  back/src/user/user.controller.ts
  back/src/user/user.service.ts
Labels: bug, back

#73 Mvaldes/fix/minor_fixes
  front/src/App.tsx
  front/src/ContextMenus/COnUser.tsx
  front/src/routes/Game.tsx
  front/src/routes/profile_types/Profiles.css
  front/src/routes/profile_types/private/UserPrivateProfile.tsx
  front/src/routes/profile_types/private/users_relations/BlockedList.tsx
  front/src/routes/profile_types/private/users_relations/DisplayRowUsers.tsx
  front/src/routes/profile_types/private/users_relations/FriendsList.tsx
  front/src/routes/profile_types/private/users_relations/PendingList.tsx
  front/src/routes/profile_types/public/DisplayGamesStats.tsx
  front/src/routes/profile_types/public/DisplayUserFriends.tsx
  front/src/routes/profile_types/public/UserPublicProfile.tsx
Labels: front, refacto

#72 :rocket: Shlu/update/chat
  back/prisma/schema.prisma
  back/src/app.gateway.ts
  back/src/app.module.ts
  back/src/auth/auth.module.ts
  back/src/auth/auth.service.ts
  back/src/chat/chat.gateway.ts
  back/src/chat/chat.module.ts
  back/src/chat/chat.service.ts
  back/src/chat/dto/chat.dto.ts
  back/src/chat/type/chat.type.ts
  back/src/game/game.gateway.ts
  back/src/game/game.module.ts
  back/src/game/game.service.ts
  back/src/prisma/prisma.module.ts
  back/src/prisma/prisma.service.ts
  back/src/upload/upload.module.ts
  back/src/upload/upload.service.ts
  back/src/user/user.module.ts
  back/src/user/user.service.ts
  front/public/index.html
  front/src/App.css
  front/src/App.tsx
  front/src/Components/Navbar.css
  front/src/hooks/AuthHooks.tsx
  front/src/index.tsx
  front/src/queries/userQueries.tsx
  front/src/routes/Auth/Auth.tsx
  front/src/routes/Chat.tsx
  front/src/routes/Game.tsx
  front/src/routes/LeaderBoard.css
  front/src/routes/LeaderBoard.tsx
  front/src/routes/Watch.tsx
  front/src/routes/chat_modes/card.css
  front/src/routes/chat_modes/chatPreview.tsx
  front/src/routes/chat_modes/chatRoom.css
  front/src/routes/chat_modes/chatRoom.tsx
  front/src/routes/chat_modes/newRoomCard.tsx
  front/src/routes/chat_modes/roomStatus.css
  front/src/routes/chat_modes/roomStatus.tsx
  front/src/routes/chat_modes/settingCard.tsx
  front/src/routes/chat_modes/type/chat.type.tsx
  front/src/routes/game.interfaces.tsx
  front/src/routes/gameRequestCard.tsx
  front/src/routes/profile_types/private/UserPrivateProfile.tsx
Labels: bug, feature, front, back

#75 :rocket: Shlu/fix/chat
  Makefile
  back/src/app.gateway.ts
  back/src/chat/chat.service.ts
  back/src/chat/type/chat.type.ts
  back/src/game/game.gateway.ts
  front/src/routes/Chat.tsx
  front/src/routes/LeaderBoard.tsx
  front/src/routes/Watch.tsx
  front/src/routes/chat_modes/chatPreview.css
  front/src/routes/chat_modes/chatPreview.tsx
  front/src/routes/chat_modes/chatRoom.tsx
  front/src/routes/chat_modes/roomStatus.tsx
  front/src/routes/chat_modes/settingCard.tsx
  front/src/routes/chat_modes/type/chat.type.tsx
  front/src/routes/gameRequestCard.tsx
  front/src/toasts/TAlert.tsx
Labels: bug, front, back

#76 Satch/main/merge
  .env
  .gitignore
  Makefile
  back/.env
  back/.env.dev
  back/.gitignore
  back/prisma/migrations/20220908200401_/migration.sql
  back/prisma/migrations/migration_lock.toml
  back/src/app.gateway.ts
  back/src/app.module.ts
  back/src/chat/chat.service.ts
  back/src/game/game.gateway.ts
  back/src/main.ts
  docker-compose.yml
  front/.env
  front/Dockerfile
  front/src/App.tsx
  front/src/hooks/AuthHooks.tsx
  front/src/queries/gamesQueries.tsx
  front/src/queries/otherUserQueries.tsx
  front/src/routes/Game.css
  front/src/routes/Game.tsx
  front/src/routes/SoloGame.tsx
  front/src/routes/chat_modes/chatPreview.tsx
  nginx/Dockerfile
Labels: feature, front, back

#78 🚀 readme update
  README.md
  screenshots/chat.png
  screenshots/invite_game.png
  screenshots/leaderboard.png
  screenshots/private_profile.png
  screenshots/public_profile.png
  screenshots/watch.png
Labels: documentation
