Repository ft-transcendence/transcendence, pull requests merged in 2022-08, with the labels that each got.

#40 🚀 Shlu/feature/complete chat
  back/package.json
  back/prisma/schema.prisma
  back/src/app.gateway.ts
  back/src/chat/chat.gateway.ts
  back/src/chat/chat.module.ts
  back/src/chat/chat.service.ts
  back/src/chat/dto/chat.dto.ts
  back/src/chat/filter/TransformationFilter.ts
  back/src/chat/filter/transformation-filter.ts
  back/src/chat/type/chat.type.ts
  back/yarn.lock
  front/package.json
  front/src/index.tsx
  front/src/queries/userQueries.tsx
  front/src/routes/Chat.css
  front/src/routes/Chat.tsx
  front/src/routes/chat_modes/card.css
  front/src/routes/chat_modes/chatPreview.css
  front/src/routes/chat_modes/chatPreview.tsx
  front/src/routes/chat_modes/chatRoom.css
  front/src/routes/chat_modes/chatRoom.tsx
  front/src/routes/chat_modes/context.css
  front/src/routes/chat_modes/icon.tsx
  front/src/routes/chat_modes/newRoomCard.tsx
  front/src/routes/chat_modes/roomStatus.css
  front/src/routes/chat_modes/roomStatus.tsx
  front/src/routes/chat_modes/settingCard.tsx
  front/src/routes/chat_modes/tags.css
  front/src/routes/chat_modes/type/chat.type.tsx
  front/yarn.lock
  yarn.lock
Labels: feature

#43 Mvaldes/fix/2 fa user signin
  front/src/App.tsx
  front/src/modals/MActivateTwoFA.tsx
  front/src/queries/authQueries.tsx
  front/src/queries/twoFAQueries.tsx
  front/src/queries/updateUserQueries.tsx
  front/src/queries/userFriendsQueries.tsx
  front/src/queries/userQueries.tsx
  front/src/routes/Auth/Auth.tsx
  front/src/routes/TwoFAValidation.tsx
  front/src/routes/profile_types/TwoFA.tsx
  front/src/routes/profile_types/UserPrivateProfile.tsx
  front/src/routes/profile_types/users_relations/BlockedList.tsx
  front/src/routes/profile_types/users_relations/FriendsList.tsx
  front/src/routes/profile_types/users_relations/PendingList.tsx
  front/src/toasts/TAlert.tsx
Labels: bug, feature, front

#45 Satch/auth/final
  .env
  .gitignore
  back/.env
  back/.env.dev
  back/package.json
  back/prisma/schema.prisma
  back/src/app.module.ts
  back/src/auth/2FA/2fa.controller.ts
  back/src/auth/2FA/2fa.service.ts
  back/src/auth/auth.controller.ts
  back/src/auth/auth.module.ts
  back/src/auth/auth.service.ts
  back/src/auth/dto/2fa.dto.ts
  back/src/auth/dto/auth.dto.ts
  back/src/auth/dto/index.ts
  back/src/auth/guard/42auth.guard.ts
  back/src/auth/guard/index.ts
  back/src/auth/guard/jwt.guard.ts
  back/src/auth/guard/rt.guard.ts
  back/src/auth/interfaces/42.interface.ts
  back/src/auth/interfaces/index.ts
  back/src/auth/strategy/42.strategy.ts
  back/src/auth/strategy/index.ts
  back/src/auth/strategy/jwt.strategy.ts
  back/src/auth/strategy/rt.strategy.ts
  back/src/decorators/get-current-user-decorator-id.ts
  back/src/decorators/get-current-user-decorator.ts
  back/src/decorators/index.ts
  back/src/decorators/public.decorator.ts
  back/src/environment.d.ts
  back/src/main.ts
  back/src/prisma/prisma.service.ts
  back/src/user/user.controller.ts
  back/src/user/user.service.ts
  back/yarn.lock
  docker-compose.yml
  front/src/App.tsx
  front/src/index.tsx
  front/src/modals/MActivateTwoFA.tsx
  front/src/queries/authQueries.tsx
  front/src/queries/twoFAQueries.tsx
  front/src/queries/updateUserQueries.tsx
  front/src/queries/userFriendsQueries.tsx
  front/src/queries/userQueries.tsx
  front/src/routes/Auth/Auth.tsx
  front/src/routes/TwoFAValidation.tsx
  front/src/routes/profile_types/TwoFA.tsx
  front/src/routes/profile_types/UserPrivateProfile.tsx
  front/src/routes/profile_types/users_relations/BlockedList.tsx
  front/src/routes/profile_types/users_relations/FriendsList.tsx
  front/src/routes/profile_types/users_relations/PendingList.tsx
  front/src/toasts/TAlert.tsx
Labels: feature, back

#46 Satch/upload/avatars
  .env
  back/.env
  back/.gitignore
  back/nest-cli.json
  back/package.json
  back/src/app.module.ts
  back/src/auth/auth.module.ts
  back/src/upload/dto/index.ts
  back/src/upload/dto/upload.dto.ts
  back/src/upload/upload.controller.ts
  back/src/upload/upload.module.ts
  back/src/upload/upload.service.ts
  back/src/upload/utils/upload.utils.ts
  back/yarn.lock
  docker-compose.yml
Labels: feature, back

#48 Mvaldes/feature/home interface
  back/.env.dev
  front/package.json
  front/public/index.html
  front/src/App.css
  front/src/App.tsx
  front/src/Components/Navbar.css
  front/src/Components/Navbar.tsx
  front/src/hooks/AuthHooks.tsx
  front/src/index.tsx
  front/src/modals/MActivateTwoFA.tsx
  front/src/modals/MLogoutValid.tsx
  front/src/modals/MUploadAvatar.tsx
  front/src/queries/authQueries.tsx
  front/src/queries/updateUserQueries.tsx
  front/src/queries/userQueries.tsx
  front/src/ressources/icons/Icon_Pen.svg
  front/src/routes/Auth/Auth.tsx
  front/src/routes/Auth/AuthStatus.tsx
  front/src/routes/Home.tsx
  front/src/routes/TwoFAValidation.tsx
  front/src/routes/UserInterface.tsx
  front/src/routes/chat_modes/card.css
  front/src/routes/chat_modes/newRoomCard.tsx
  front/src/routes/chat_modes/settingCard.tsx
  front/src/routes/profile_types/ModifyUserInfo.tsx
  front/src/routes/profile_types/TwoFA.tsx
  front/src/routes/profile_types/UserPrivateProfile.tsx
  front/src/routes/profile_types/users_relations/BlockedList.tsx
  front/src/routes/profile_types/users_relations/PendingList.tsx
  front/src/routes/profile_types/users_relations/UsersRelations.tsx
  front/src/toasts/TAlert.tsx
  front/yarn.lock
Labels: feature, front

#49 Satch/swagger/main
  back/.gitignore
  back/environment.d.ts
  back/nest-cli.json
  back/package.json
  back/src/app.module.ts
  back/src/auth/2FA/2fa.controller.ts
  back/src/auth/2FA/2fa.service.ts
  back/src/auth/auth.controller.ts
  back/src/auth/auth.module.ts
  back/src/auth/auth.service.ts
  back/src/auth/strategy/jwt.strategy.ts
  back/src/config/configuration.ts
  back/src/main.ts
  back/src/upload/dto/upload.dto.ts
  back/src/upload/upload.controller.ts
  back/src/upload/upload.module.ts
  back/src/upload/upload.service.ts
  back/src/user/user.service.ts
  back/yarn.lock
Labels: documentation, QOL, back

#50 Mvaldes/feature/upload avatar front
  front/src/modals/MUploadAvatar.tsx
  front/src/queries/avatarQueries.tsx
  front/src/queries/userFriendsQueries.tsx
  front/src/routes/profile_types/UserPrivateProfile.tsx
  front/src/routes/profile_types/users_relations/BlockedList.tsx
  front/src/routes/profile_types/users_relations/DisplayRowUsers.tsx
  front/src/routes/profile_types/users_relations/FriendsList.tsx
  front/src/routes/profile_types/users_relations/PendingList.tsx
Labels: feature, front

#51 Satch/login/redironfail
  back/src/auth/2FA/2fa.service.ts
  back/src/auth/2FA/index.ts
  back/src/auth/auth.controller.ts
  back/src/auth/auth.module.ts
  back/src/auth/filter/index.ts
  back/src/auth/filter/redirect.login.ts
  back/src/auth/strategy/42.strategy.ts
Labels: bug, feature, back

#53 :rocket: added .env to front
  back/.env.dev
  front/.env
  front/src/queries/authQueries.tsx
  front/src/queries/avatarQueries.tsx
  front/src/queries/twoFAQueries.tsx
  front/src/queries/updateUserQueries.tsx
  front/src/queries/userFriendsQueries.tsx
  front/src/queries/userQueries.tsx
  front/src/routes/Auth/Auth.tsx
  front/src/routes/Watch.tsx
Labels: feature, front, refacto, QOL

#54 Mvaldes/feature/public profile
  back/src/user/user.controller.ts
  front/src/App.css
  front/src/Components/SimpleToolTip.tsx
  front/src/ContextMenus/COnUser.tsx
  front/src/globals/Interfaces.tsx
  front/src/index.tsx
  front/src/queries/authQueries.tsx
  front/src/queries/gamesQueries.tsx
  front/src/queries/headers.tsx
  front/src/queries/otherUserQueries.tsx
  front/src/queries/updateUserQueries.tsx
  front/src/queries/userFriendsQueries.tsx
  front/src/queries/userQueries.tsx
  front/src/routes/Auth/SignIn.tsx
  front/src/routes/Auth/SignUp.tsx
  front/src/routes/profile_types/private/ModifyUserInfo.tsx
  front/src/routes/profile_types/private/TwoFA.tsx
  front/src/routes/profile_types/private/UserPrivateProfile.tsx
  front/src/routes/profile_types/private/users_relations/BlockedList.tsx
  front/src/routes/profile_types/private/users_relations/DisplayRowUsers.tsx
  front/src/routes/profile_types/private/users_relations/FriendsList.tsx
  front/src/routes/profile_types/private/users_relations/PendingList.tsx
  front/src/routes/profile_types/private/users_relations/UsersRelations.tsx
  front/src/routes/profile_types/public/DisplayGamesStats.tsx
  front/src/routes/profile_types/public/DisplayUserFriends.tsx
  front/src/routes/profile_types/public/UserPublicProfile.css
  front/src/routes/profile_types/public/UserPublicProfile.tsx
Labels: feature, front, wip

#55 Flo/fix/status conflicts
  back/src/app.gateway.ts
  back/src/auth/auth.module.ts
  back/src/auth/auth.service.ts
  back/src/game/game.controller.ts
  back/src/game/game.gateway.ts
  back/src/user/statuses.ts
  back/src/user/user.controller.ts
  back/src/user/user.service.ts
  front/src/App.css
  front/src/App.tsx
  front/src/globals/Interfaces.tsx
  front/src/routes/Auth/Auth.css
  front/src/routes/Auth/Auth.tsx
  front/src/routes/Game.tsx
  front/src/routes/Watch.tsx
  front/src/routes/profile_types/Profiles.css
  front/src/routes/profile_types/private/UserPrivateProfile.tsx
  front/src/routes/profile_types/private/users_relations/BlockedList.tsx
  front/src/routes/profile_types/private/users_relations/DisplayRowUsers.tsx
  front/src/routes/profile_types/private/users_relations/FriendsList.tsx
  front/src/routes/profile_types/private/users_relations/PendingList.tsx
  front/src/routes/profile_types/public/DisplayUserFriends.tsx
Labels: feature, front, wip, back

#56 Mvaldes/feature/public_buttons
  back/src/app.gateway.ts
  back/src/user/user.controller.ts
  front/src/Components/Navbar.tsx
  front/src/ContextMenus/COnUser.tsx
  front/src/globals/Interfaces.tsx
  front/src/routes/Auth/Auth.tsx
  front/src/routes/Game.tsx
  front/src/routes/profile_types/Profiles.css
  front/src/routes/profile_types/private/users_relations/FriendsList.tsx
  front/src/routes/profile_types/public/DisplayGamesStats.tsx
  front/src/routes/profile_types/public/DisplayUserFriends.tsx
  front/src/routes/profile_types/public/UserPublicProfile.css
  front/src/routes/profile_types/public/UserPublicProfile.tsx
Labels: bug, feature, front

#57 🎨 button style update
  front/src/App.css
  front/src/ContextMenus/COnUserSimple.tsx
  front/src/modals/MActivateTwoFA.tsx
  front/src/modals/MLogoutValid.tsx
  front/src/modals/MUploadAvatar.tsx
  front/src/routes/TwoFAValidation.tsx
  front/src/routes/profile_types/Profiles.css
  front/src/routes/profile_types/private/ModifyUserInfo.tsx
  front/src/routes/profile_types/private/TwoFA.tsx
  front/src/routes/profile_types/private/UserPrivateProfile.tsx
  front/src/routes/profile_types/private/users_relations/DisplayRowUsers.tsx
  front/src/routes/profile_types/public/UserPublicProfile.tsx
Labels: feature, front
